@import '../../../style/text';
@import '../../../style/theme';
@import '../../../style/size';
@import '../../../style/input';

.radio-toolbar {
  display: flex;
  flex-direction: row;
}

.node {
  border: 1px solid $text-light;
  border-right-width: 0;
  color: $text-light;
  flex: 1;
  font-family: $text-font;
  font-size: $sp14;
  font-weight: 600;
  line-height: $sp20;
  padding: $sp12 0;
  text-align: center;

  &:first-of-type {
    border-bottom-left-radius: $border-radius-size;
    border-top-left-radius: $border-radius-size;
  }

  &:last-of-type {
    border-bottom-right-radius: $border-radius-size;
    border-right-width: 1px;
    border-top-right-radius: $border-radius-size;
  }

  > input {
    display: none;
  }
}

.node.checked {
  border-color: $primary-main;
  color: $primary-main;

  + .node {
    border-left-color: $primary-main;
  }
}
