@import './text';
@import './theme';
@import './size';

.container {
  padding: $sp8;
}

.title {
  @include title-input;
  margin-bottom: $sp12;
}

.input {
  @include text-input;
  
  appearance: none;
  background: $background-light;
  border: 1px solid $text-light;
  border-radius: $border-radius-size;
  box-sizing: border-box;
  outline: 0;
  padding: $sp12;
  width: 100%;

  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $text-light;
    line-height: normal;
  }

  &:focus {
    border-color: $primary-main;
  }

  &:disabled {
    border-color: $primary-inactive;
    color: $primary-inactive;
  }

  &.invalid {
    border-color: $error;
  }
}

.error {
  color: $error;
  font-family: $text-font;
  font-size: $sp13;
  line-height: $sp20;
  margin-top: $sp12;
}
