@import './theme';
@import './size';

@mixin title-header {
  color: $title-dark;
  font-family: $title-font;
  font-size: $sp18;
  font-weight: bold;
  line-height: $sp24;
}

@mixin title-large-button {
  background: $primary-main;
  color: $on-primary-main;
  font-family: $title-font;
  font-size: $sp14;
  font-weight: 600;
  line-height: $sp16;
}

@mixin title-link-button {
  background-color: transparent;
  color: $primary-main;
  font-family: $text-font;
  font-size: $sp12;
  line-height: $sp16;
  font-weight: 500;
}

@mixin title-input {
  color: $title-dark;
  font-family: $title-font;
  font-size: $sp13;
  font-weight: 600;
  line-height: $sp20;
}

@mixin text-input {
  color: $title-dark;
  font-family: $text-font;
  font-size: $sp16;
  line-height: $sp20;
  font-weight: 400;
}

@mixin title {
  color: $title-dark;
  font-family: $title-font;
  font-size: $sp18;
  font-weight: 700;
  line-height: $sp20;
}

@mixin subtitle {
  color: $title-light;
  font-family: $text-font;
  font-size: $sp13;
  line-height: $sp20;
}

@mixin information {
  color: $title-light;
  font-family: $text-font;
  font-size: $sp12;
  line-height: $sp16;
}

@mixin sub-information {
  color: $title-light;
  font-family: $text-font;
  font-size: $sp12;
  line-height: $sp16;
}

@mixin text-bold {
  font-family: $text-font;
  font-weight: 600;
  line-height: $sp20;
}
