@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* colors */
$primary-main: #006EFD;
$primary-dark: #51799e;
$primary-active: #79a4cb;
$primary-inactive: #c4c4c4;
$on-primary-main: #fff;

$error: #ff3347;
$error-light: #ffd3d8;

$title-light: #818c99;
$title-main: #616161;
$title-dark: #2d2d2d;

$text-light: #c4c4c4;
$text-main: #5f5f5f;
$text-dark: #3c3c3c;

$surface: #f9f9f9;

$background-light: #fff;

/* fonts */
$title-font: 'Montserrat';
$text-font: 'Open Sans';
