@import '../../../style/text';

.title {
  @include title;
  text-align: center;
}

.description {
  @include subtitle;
}

.information {
  @include information;
}

.sub-information {
  @include sub-information;
}
