.modal-container {
  position: fixed;
  display: flex;

  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  z-index: 100;

  &.fade {
    animation-duration: 0.3s;
    animation-name: fadeIn;
  }

  &.slide {
    animation-duration: 0.3s;
    animation-name: slideIn;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    top: 100vh;
  }
  to {
    top: 0;
  }
}
