@import '../../style/size';
@import '../../style/theme';
@import '../../style/text';

.page-layout {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin: 0 $sp16;
}

.spring {
  flex: 1;
}

.page-title {
  padding-bottom: $sp8;
}

.input-container {
  margin-top: $sp24;
}

.input-container-no-label {
  margin-top: $sp20;
}

.main-btn {
  margin-top: $sp24;
}

.forgot-pass-container {
  margin-top: $sp16;
  text-align: center;
}

.link-btn {
  @include title;
  color: $primary-main;
  font-size: $sp12;
  font-weight: 500;
  line-height: $sp16;
}

.invite-text {
  @include title;
  font-size: $sp12;
  font-weight: 500;
  line-height: $sp16;
  margin-right: $sp4;
}

.invite-link-container {
  display: flex;
  margin-bottom: $sp32;
  text-align: center;
  justify-content: center;
  align-items: center;
  
}
