@import '../../../style/text';
@import '../../../style/theme';
@import '../../../style/size';
@import '../../../style/input';

@mixin button-common {
  border: 0;
  width: 100%;
}

.primary {
  @include button-common;
  @include title-large-button;

  padding-bottom: $sp12;
  padding-top: $sp12;

  &.border {
    border-radius: $sp4;
  }

  &.loading {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: loading-button;
    animation-timing-function: linear;

    background:
      linear-gradient(90deg,
      $primary-main 0%, $primary-active 10%, $primary-active 15%, $primary-main 25%,
      $primary-main 50%, $primary-active 60%, $primary-active 65%, $primary-main 75%,
      $primary-main 100%);
    background-size: 200%;
  }

  &:active {
    background: $primary-dark;
  }

  &.disabled,
  &.disabled:active {
    background: $primary-inactive;
  }
}

@keyframes loading-button {
  0% {
    background-position-x: 100%;
  }

  100% {
    background-position-x: 0;
  }
}

.link {
  @include button-common;
  @include title-link-button;

  padding: 0;
  text-align: center;
}

.link:active {
  color: $primary-dark;
}
