@import "../../style/text";
@import "../../style/theme";
@import "../../style/size";

.center {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  justify-content: center;
}

.icon-container {
  display: flex; 
  justify-content: center;
  margin-bottom: $sp24
}

.button-container {
  display: flex; 
  justify-content: center;
  margin-top: $sp24
}
