@import "../../style/text";
@import "../../style/theme";
@import "../../style/size";

.container {
  display: flex;
  flex-direction: column;
  padding: $sp24 $sp16 0 $sp16;
}

.center {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  justify-content: center;
}

.signin-container {
  @include text-bold;
  font-size: $sp14;
  margin-top: $sp20;
  text-align: center;
}

.title {
  margin-bottom: $sp20;
}

.input-container {
  margin-top: $sp24;
}

.input-container-without-label {
  margin-top: $sp20;
}

.main-btn {
  margin-top: $sp24;
}

.button-container {
  margin-right: $sp8;
  margin-left: $sp8;
  padding: $sp12 0;
  margin: 0 $sp8;
}

.link-btn {
  @include title-link-button;
  color: $title-light;
  margin-top: $sp16;
}

.bottom-button {
  text-align: center;
  margin-top: $sp16;
}

.bottom-info {
  margin-top: $sp16;
}

.title-input {
  @include title-input;
  margin-top: $sp24;
}

.radio-button-container {
  display: flex;
}

.information {
  margin-top: $sp20;
}

.correction {
  margin-top: $nsp12;
}
