@import '../../style/text';
@import '../../style/theme';
@import '../../style/size';

.container {
  display: flex;
  flex-direction: column;
  padding: $sp24 $sp16 0 $sp16;
}

.signin-container {
  @include text-bold;
  font-size: $sp14;
  margin-top: $sp20;
  text-align: center;
}

.title {
  margin-bottom: $sp12;
}

.information {
  padding: $sp8;
}

.input-container {
  margin-top: $sp24;
}

.input-container-no-label {
  margin-top: $sp20;
}

.main-btn {
  margin-top: $sp24;
}

.link-btn {
  margin-top: $sp4;
}

.center {
  text-align: center;
}

.bottom-button {
  text-align: center;
  margin-top: $sp16;
}
