@import '../../../style/text';
@import '../../../style/size';

.container {
  align-items: center;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06);
}

.back-btn {
  background-color: transparent;
  border: 0;
  outline: none;
  padding: $sp16;
}

.title {
  @include title-header;
  padding: $sp18 $sp16;

  .back-btn + & {
    padding-left: 0;
  }
}

